.addEvent__box {
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-left: 3rem;
}

.addEvent__title__input {
  display: grid;
  width: 9.8%;
}

.addEvent__button__sudmit {
  width: 10%;
  margin-top: 1rem;
}
