.calendarHeader__box {
  display: flex;
}
.calendar-header__title {
  color: #ff355e;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold !important;
  margin-bottom: 1rem;
}
.calendar-header__title:hover {
  color: #060133;
  cursor: pointer;
}

.calendar-header-logo {
  width: 40%;
  padding-top: 2rem;
  margin-left: 3rem;
}

.calendar-header__description {
  margin-bottom: 2rem;
  color: #060133;
  text-align: center;
}
