.calendarHeader__box {
  display: flex;
}
.calendar-header__title {
  color: #0a0352;
  text-align: center;
  margin-top: 2rem;
}

.calendar-header-logo {
  width: 40%;
  padding-top: 2rem;
  margin-left: 3rem;
}

.calendar-header__description {
  color: #060133;
  text-align: center;
}
