.modalEvent__buttons {
  background-color: #ffebef !important;
  border-radius: 25px !important;
  color: #ff355e !important;
  border: none !important;
  box-shadow: 1px 1.8px 1px 1px rgb(215, 210, 210);
  text-align: center;
  font-weight: bold !important;
}
.modalEvent__buttons:hover {
  transition: 0.7s !important;
  background-color: white !important;
}
